@page
@model Vivelin.Web.Home.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<component type="typeof(Vivelin.Web.Home.Shared.QuoteDisplay)"
           render-mode="Static" />

@foreach (var stream in Model.Streams.OrderByDescending(x => x.StartedAt))
{
<article class="stream">
    <a href="https://www.twitch.tv/@stream.UserLogin" rel="external">
        <p class="stream-title">@stream.Title</p>
        <p class="stream-description">@stream.UserName streaming @stream.GameName for @stream.ViewerCount viewer@(stream.ViewerCount != 1 ? "s" : "")</p>
    </a>
    <div class="stream-tooltip">
        <img class="stream-thumbnail" src="@(stream.ThumbnailUrl.Replace("{width}", "600").Replace("{height}", "337"))" alt="">
    </div>
</article>
}