@page
@model Vivelin.Web.Home.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<component type="typeof(Vivelin.Web.Home.Shared.QuoteDisplay)"
           render-mode="Static" />

@foreach (var stream in Model.Streams.OrderBy(x => x.Uptime))
{
<article class="stream">
    <a href="@stream.Link" rel="external">
        <img class="stream-profile" src="@stream.ProfileImageUrl" alt="" />
        <p class="stream-title">@stream.Title</p>
        <p class="stream-description">@stream.Broadcaster streaming @stream.GameName for @stream.ViewerCount viewer@(stream.ViewerCount != 1 ? "s" : "")</p>
    </a>
    <div class="stream-tooltip">
        <img class="stream-thumbnail" src="@stream.ThumbnailUrl" alt="">
    </div>
</article>
}