@page
@model Vivelin.Web.Home.Pages.Tools.InspectorModel
@{
  ViewData["Title"] = "Text inspector";
}
@section Styles 
{
  <link rel="stylesheet" href="~/css/codepoints.css" asp-append-version="true" />
}

<form method="get">
  <div class="form-control">
    <div><label asp-for="Text">Text:</label></div>
    <textarea asp-for="Text">@Model.Text</textarea>
  </div>

  <p>
    <input type="submit" value="Inspect" />
  </p>
</form>

@if (Model.HasText)
{
  <p class="ui">
    <span>@Model.Text.Length</span> C# characters<br>
    <span>@System.Text.Encoding.UTF8.GetByteCount(Model.Text)</span> UTF-8 bytes
  </p>

  <h2><data value="@Model.CodePoints.Count">@Model.CodePoints.Count</data> code points</h2>
  foreach (var cp in Model.CodePoints)
  {
    <article class="code-point">
      <span class="display" data-category="@cp.Category">@cp.DisplayText</span>
      <span class="name">@cp.CodePointValue <q>@cp.Name</q></span>
      <code class="utf8-bytes">@cp.Utf8</code>
      <span class="block">@cp.Block</span>
    </article>
  }
}